---

import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { RiSignalWifiErrorLine } from "react-icons/ri";

---

<Layout>
    <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
        <RiSignalWifiErrorLine className="text-8xl text-red-500 mb-4" />
        <h1 class="text-6xl font-bold text-red-500 mb-4">404</h1>
        <p class="text-xl text-gray-700 mb-8">Oops! The page you are looking for does not exist.</p>
        <a class="text-lg text-blue-500 hover:underline" href="/">Go back to the homepage</a>
        
    </div>
</Layout>