---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { FaRegArrowAltCircleLeft } from "react-icons/fa";
import "../styles/global.css";

const blog = await getCollection("blog");
---

<Layout
  title="Blog | All Posts"
  description="Explore all blog posts about programming, errors, and more."
>
  <div class="container mx-auto max-w-4xl px-4">
    <a
      href="/"
      class="text-gray-300 hover:text-blue-400 font-medium flex items-center gap-2 mb-6 px-4 py-2 rounded-md transition duration-200 mt-8"
    >
      <FaRegArrowAltCircleLeft className="text-lg" />
      Back to Home
    </a>

    <h1 class="text-4xl font-bold text-center mb-10">All Blog</h1>

    Search <input type="text" placeholder="(unfinished search )Search... use # for tags" class="mb-6 p-2 rounded-md border border-gray-600 bg-gray-800 text-white" disabled/>
    
    <div class="grid gap-8">
      {blog.map((blog) => (
        <div class="bg-gray-800 p-6 rounded-xl shadow-lg hover:shadow-xl transition-all">
          <h3 class="text-xl font-semibold">{blog.data.title}</h3>
          <p class="text-gray-400 mt-2">{blog.data.description}</p>
          <p class="mt-2 text-sm text-gray-300">
            <strong>Tags :</strong>{" "}
            {blog.data.tags
              .map((tags: { name: string }) => tags.name)
              .join(", ")}
          </p>
          <a
            href={`/projects/${blog.id}`}
            class="text-blue-400 hover:underline mt-3 inline-block"
          >
            Read more →
          </a>
        </div>
      ))}
    </div>
</Layout>