---
import Layout from "../layouts/Layout.astro";
import CertificatesComponent from "../components/Certificates.astro";
---

<Layout>
    <section class="py-10">
        <CertificatesComponent />
    </section>
</Layout>
