---
import Layout from "../layouts/Layout.astro";
import CertificatesComponent from "../components/Certificates.astro";
import { FaRegArrowAltCircleLeft } from "react-icons/fa";
import "../styles/global.css";
---

<Layout>
    <section class="py-10 px-6">
        <a href="/" 
            class="text-blue-400 font-semibold flex items-center gap-2 mt-8 pl-4 hover:text-blue-300 transition duration-200">
            <FaRegArrowAltCircleLeft className="text-xl" />
            <span class="text-lg">Back to Home</span>
        </a>
        <CertificatesComponent />
    </section>
</Layout>
