---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/ui/Footer.astro';
import { getCollection } from "astro:content";
import { FaRegArrowAltCircleRight } from "react-icons/fa";

// Ambil semua proyek dari collection
const websiteProjects = await getCollection("website");
const gameProjects = await getCollection("games");

// Gabungkan semua proyek
const projects = [...websiteProjects, ...gameProjects];

// Sortir berdasarkan title (fallback jika tidak ada title)
projects.sort((a, b) => (a.data.title || "").localeCompare(b.data.title || ""));
---

<Layout seo={{ title: "Alexander Agung Raya" }}>
  <Welcome />  
  <section class="container mx-auto p-6 flex flex-col items-center">
    <h2 class="text-3xl font-bold mb-4 text-center">Personal Projects</h2>

    {projects.length > 0 ? (
      <ul class="w-full max-w-2xl">
        {projects.slice(0, 3).map((project) => (
          <li class="mb-4">
            <h3 class="font-semibold">{project.data.title}</h3>
            <p>{project.data.description}</p>
            <p>{project.data.stack.map((tech: { name: string }) => tech.name).join(", ")}</p>
            <a href={`/projects/${project.id}`} class="text-blue-500">Read more</a>
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-gray-500">No projects available.</p>
    )}

  <a href="/projects" class="text-blue-500 font-semibold">See More <FaRegArrowAltCircleRight className="inline-block ml-1" /></a>  </section>

</Layout>