---
import { certificates} from '../data/Certificates';
---

<section class="certificates">
    <h1 class="text-2xl font-bold text-white">Certificates</h1>
    <ul>
        {certificates.map((certificates) => (
            <li class="text-lg md:text-xl text-gray-400">
                <strong>{certificates.title}</strong> at 
                {certificates.tag}
                <br />
                
                <span>{certificates.description}</span>
            </li>
        ))}
    </ul>
</section>
