---
const links = [
  { name: "Home", href: "/" },
  { name: "Projects", href: "/projects" },
  { name: "Certificates", href: "/Certificates" },
  { name: "Blog", href: "/blog" },
];
---

<nav class="bg-gray-900 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-xl font-bold">AlexanderAR</a>
    <ul class="flex gap-6">
      {links.map((link) => (
        <li>
          <a href={link.href} class="hover:text-gray-400">{link.name}</a>
        </li>
      ))}
    </ul>
  </div>
</nav>
