---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allProjects = [
    ...(await getCollection("games")),
    ...(await getCollection("website")),
  ];
  return allProjects.map((project) => ({
    params: { slug: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
---

<h1 class="text-3xl font-bold">{project.data.title}</h1>
<p>{project.data.description}</p>
<article class="prose">
  {project.body}
</article>
