---
import tailwindcss from "@tailwindcss/vite";

const currentYear = new Date().getFullYear();
tailwindcss();
---

<footer class="bg-white dark:bg-black bg-center">
    <span class="text-white text-center">Copyright © {currentYear} All right reserved by Alexander Agung Raya</span>
</footer>