---
import tailwindcss from "@tailwindcss/vite";

const currentYear = new Date().getFullYear();
tailwindcss();
---

<footer class="py-2 p-6">
    <span class="text-white text-center">Copyright © {currentYear} All right reserved by Alexander Agung Raya</span>
</footer>