---
import tailwindcss from "@tailwindcss/vite";

const currentYear = new Date().getFullYear();
tailwindcss();
---

<footer class:list={["flex", "flex-col", "items-center", "md:max-xl:flex-row"]}>
    <span class="text-white text-center">Copyright © {currentYear} All right reserved by Alexander Agung Raya</span>
</footer>